@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&family=Heebo:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Grandstander&display=swap');

/* Global */
html {
    scroll-behavior: smooth;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-manrope {
    font-family: 'Manrope', sans-serif;
}

.font-fredoka {
    font-family: 'Fredoka One', cursive;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-Grandstander {
    font-family: 'Grandstander', cursive;
}

.font-Heebo {
    font-family: 'Heebo', sans-serif;
}

.font-Balsamiq {
    font-family: 'Balsamiq Sans', cursive;
}


.full {
    min-height: 100vh;
    height: 100%;
}

* {
    /* font-family: 'Heebo', sans-serif; */
    font-family: 'Inter', sans-serif;

}

.text-blood-red {
    color: #e41a23;
}

.text-light-blue {
    color: #3880ff !important;
}

.text-light-red {
    color: #ef4d4d;
}

.text-dark-blue {
    color: rgb(0, 28, 85);
}

.bg-extra-light-blue {
    background-color: #EDF9FE !important;
}

.bg-light-red {
    background-color: #ef4d4d;
}

.text-turqoise {
    color: #5b708b !important;
}

.bg-light-blue {
    background-color: #3880ff;
}

.bg-dust {
    background-color: #fafbfc;
}

.btn-light-blue {
    background-color: #3880ff;
}

.bg-black {
    background-color: #0d0d0d;
}

.btn-gold {
    border-color: #ffebb7;
}

.btn-round {
    border-radius: 50px;
}

.text-strawberry {
    color: #ff4495 !important;
}

.text-gold {
    color: #ffebb7;
}

.text-apocad {
    color: rgb(57, 224, 155);
}

.text-grey {
    color: #8b8b8b;
}

.text-gray {
    color: #5d5c69;
}

.text-gray-2 {
    color: #586069 !important;
}

.sub-title {
    font-size: 3rem;
    letter-spacing: -2px;
    font-weight: 600;
    line-height: 3.3rem;
    color: rgb(0, 28, 85);
}

.project-card {
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.badge-primary {
    background-color: #cce5ff;
    line-height: 22px;
    padding: 5px 10px !important;
    border-radius: 4px !important;
    color: #004085;
    font-weight: 400;
}

.badge-peach {
    background-color: #ff9f91;
    line-height: 22px;
    padding: 5px 10px !important;
    border-radius: 4px !important;
    color: #ffffff;
    font-weight: 400;
}

.badge-apocad {
    background-color: #a1e5c9;
    line-height: 22px;
    padding: 5px 10px !important;
    border-radius: 4px !important;
    color: #ffffff;
    font-weight: 400;
}

.badge-berry {
    background-color: #8fb5f0;
    line-height: 22px;
    padding: 5px 10px !important;
    border-radius: 4px !important;
    color: #ffffff;
    font-weight: 400;
}

.badge-grape {
    background-color: #a39cf6;
    line-height: 22px;
    padding: 5px 10px !important;
    border-radius: 4px !important;
    color: #ffffff;
    font-weight: 400;
}

.badge-blue-outline {
    line-height: 22px;
    padding: 5px 10px !important;
    border-radius: 6px !important;
    color: #1074e7;
    font-weight: 400;
    border-color: rgba(16, 116, 231, .5) !important;
    font-weight: 600;
}

.badge-banana {
    background-color: #f9ce96;
    line-height: 22px;
    padding: 5px 10px !important;
    border-radius: 4px !important;
    color: #ffffff;
    font-weight: 400;
}

.badge-dark {
    background-color: #2f3136;
    line-height: 22px;
    padding: 5px 10px !important;
    border-radius: 3px !important;
    color: #ffffff !important;
    font-weight: 400;
}

.badge-secondary {
    /* background-color: #424874 !important; */
    background-color: rgba(0, 0, 0, 0.05);
    line-height: 22px;
    padding: 5px 10px !important;
    border-radius: 3px !important;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
}

.badge-danger {
    background-color: #f8d7da;
    line-height: 22px;
    padding: 5px 10px !important;
    border-radius: 4px !important;
    color: #721c24;
    font-weight: 400;
}

.badge-info {
    background-color: #d1ecf1;
    line-height: 22px;
    padding: 5px 10px !important;
    border-radius: 4px !important;
    color: #0c5460;
    font-weight: 400;
}

.badge-success {
    background-color: #d4edda;
    line-height: 22px;
    padding: 5px 10px !important;
    border-radius: 4px !important;
    color: #155724;
    font-weight: 400;
}

.bg-dark {
    background-color: #2f3136 !important;
}

.underline {
    box-shadow: 0 1px 0 0 rgba(16, 116, 231, 0.5) !important;
}

.underline:hover {
    text-decoration: none;
}

/* Global End */

#viewMore {
    box-shadow: 0 1px 0 0 rgba(16, 116, 231, 0.5);
}

#viewMore:hover {
    text-decoration: none;
    font-weight: 600;
}

.wrapper-brand {
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.15) !important;
    border-radius: 15px;
    background-color: rgb(35, 39, 42); */

}

#brand-tag {
    padding-right: 9px;
    padding-left: 9px;
    /* background-color: #262626; */
    background-color: #f6f6f7;
    /* color: #ccc; */
    line-height: 26px;
    border-radius: 4px;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0, 255, 0) 14.28%,
            rgb(0, 255, 255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
    background-size: 600vw 600vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: slide 10s linear infinite forwards; */
}

.navbar-brand {
    font-weight: 400;

}

.navbar {
    border: 0 solid #d4d4d7;
}

#email {
    /* background-color: #262626; */
    border-radius: 50px;
    color: white;
}

#intro-left {
    font-size: 5.5rem;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: -1px;
}


.rgb {
    background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0, 255, 0) 14.28%,
            rgb(0, 255, 255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
    background-size: 600vw 600vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: slide 10s linear infinite forwards;
}

@keyframes slide {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 600vw;
    }

    /* 0% {
        color: blue;
    }

    10% {
        color: #8e44ad;
    }

    20% {
        color: #1abc9c;
    }

    30% {
        color: #d35400;
    }

    40% {
        color: blue;
    }

    50% {
        color: #34495e;
    }

    60% {
        color: blue;
    }

    70% {
        color: #2980b9;
    }

    80% {
        color: #f1c40f;
    }

    90% {
        color: #2980b9;
    }

    100% {
        color: pink;
    } */
}

.full-intro {
    min-height: 100vh;
    height: 100%;
    /* border-bottom: 3px solid #262626; */
}

.hr-custom {
    border-top: 3px solid #0d0d0d;
    border-radius: 4px;
}

.self-introduction {
    padding-top: 3.5rem;
}

.intro-body {
    line-height: 2.5rem;
    font-size: 1.5rem;
    padding-top: 2rem;
    max-width: 35rem;
}

.nav-link {
    font-weight: 400;
    color: black !important;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.nav-link:hover {
    font-weight: 600;
}



.profile {
    /* background-color: #f6f6f7; */
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.profile h5 {
    font-weight: 600;
}

.container-card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.container-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* footer {
    background-color: #fafbfc !important;
} */

/** Galaxy s5 **/
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
    #intro-left {
        font-size: 2rem !important;
        line-height: 2.5rem;
    }

    .intro-body {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .self-introduction {
        padding-top: 6rem;
    }

    .navbar-nav {
        text-align: center;
    }

    .sub-title {
        font-size: 1.6rem;
    }
}

/** iPhone 6/7/8 **/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {

    #intro-left {
        font-size: 2.5rem !important;
        line-height: 3rem;
    }

    .intro-body {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .self-introduction {
        padding-top: 6rem;
    }

    #brand-tag {
        padding-left: 1rem;
    }


    .navbar-nav {
        text-align: center;
    }

    .sub-title {
        font-size: 2rem;
    }
}