@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
	scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(222, 222, 222, .75);
	opacity: 0;
	z-index: 1;
	transition: opacity 0.5s 0.5s ease-out;
}

/* Handle */
::-webkit-scrollbar-thumb {
	/* background: #b9dabd !important; */
	background-color: rgba(0, 0, 0, .5);
	border-radius: 4px;
	height: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.navbar .navbar-toggler-icon {
	background-image: url("../img/menu.png") !important;
}

.navbar .navbar-toggler {
	border: none;
}

.font-open-sans {
	font-family: 'Open Sans', sans-serif;
}

.font-poppin {
	font-family: 'Poppins', sans-serif;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}

* {
	font-family: 'Poppins', sans-serif;
}

.introduction {
	background-color: #f5f5f5;
}

.visit-link:hover {
	color: #000000 !important;
	font-weight: 600;
}

.visit-link,
.d-flex a {
	text-decoration: none !important;
}

.navbar {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	z-index: 9999;
}

.nav-item {
	padding-left: 2rem;
}

.nav-link {
	color: #000000 !important;
}

.nav-link:hover {
	font-weight: 600;
}

#brand {
	font-weight: 600 !important;
}

#introduction-img {
	/* padding-top: 32%; */
	padding-top: 20vh;
	/* border: 1px solid red; */
}

.introduction-message .col-md-7 {
	padding-top: 27vh;
	/* border: 1px solid red; */

	/* padding-top: 18%; */
}

/* .introduction {
    background-color: #f5f5f5;
} */

.display-4 {
	font-size: 2.9rem !important;
}

#personal-quality {
	font-size: 1rem;
	font-weight: 400;
	width: 87%;
	color: #666;
}

#scribble-arrow {
	transform: translateY(9vh) rotate(-120deg);
	margin: auto;
}

#scribble-arrow2 {
	transform: translateY(25vh) rotate(-70deg) scaleY(-1);
	margin: auto;
}

.font-weight-bold {
	font-weight: 600 !important;
}

.btn-light-blue {
	/* background-color: #f7ba33 !important;
    border-color: #f7ba33 !important; */
	background-color: #4a90e2 !important;
	border-collapse: #4a90e2 !important;
	width: 10rem;
	height: 3rem;
	font-weight: 400 !important;
	border-radius: 22px;
	color: white !important;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-light-blue:hover {
	font-weight: 700 !important;
	color: #ffffff !important;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	border: none;
}

.btn-dark {
	width: 10rem;
	height: 3rem;
	font-weight: 400 !important;
	background-color: #000000 !important;
	border-radius: 22px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-dark:hover {
	background-color: #000000 !important;
	font-weight: 700 !important;
	color: #ffffff !important;
	border-color: #000000 !important;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.text-warning {
	color: #f7ba33 !important;
}

#resume {
	color: #ffffff !important;
}

#resume:hover {
	text-decoration: none;
}

/* #email {
    text-decoration: none;
    color: #000000 !important;
}

#email:hover {
    text-decoration: none;
    color: #ffffff !important;
} */

.full-height {
	height: 100%;
	min-height: 100vh;
}

.experience h1 {
	line-height: 55px;
	font-weight: 300;
	font-size: 45px;
}

.experience {
	padding-top: 10%;
}

/** MOUSE **/
/* .mouse {
    background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #fff 50%, #fff 100%);
    position: relative;
    width: 40px;
    height: 64px;
    border-radius: 100px;
    background-size: 100% 200%;
    animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    margin: 0 auto;
}

.mouse:before,
.mouse:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mouse:before {
    width: 35px;
    height: 60px;
    background-color: #222a30;
    border-radius: 100px;
}

.mouse:after {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    animation: trackBallSlide 5s linear infinite;
}

@keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }

    20% {
        background-position: 0% 0%;
    }

    21% {
        background-color: #4e5559;
    }

    29.99% {
        background-color: #fff;
        background-position: 0% 0%;
    }

    30% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }

    50% {
        background-position: 0% 0%;
    }

    51% {
        background-color: #4e5559;
    }

    59% {
        background-color: #fff;
        background-position: 0% 0%;
    }

    60% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }

    80% {
        background-position: 0% 0%;
    }

    81% {
        background-color: #4e5559;
    }

    90%,
    100% {
        background-color: #fff;
    }
}

@keyframes trackBallSlide {
    0% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
    }

    6% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
    }

    14% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
    }

    15%,
    19% {
        opacity: 0;
        transform: scale(0.4) translateY(-20px);
    }

    28%,
    29.99% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
    }

    30% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
    }

    36% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
    }

    44% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
    }

    45%,
    49% {
        opacity: 0;
        transform: scale(0.4) translateY(-20px);
    }

    58%,
    59.99% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
    }

    60% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
    }

    66% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
    }

    74% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
    }

    75%,
    79% {
        opacity: 0;
        transform: scale(0.4) translateY(-20px);
    }

    88%,
    100% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
    }
}

@keyframes nudgeMouse {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(8px);
    }

    30% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(8px);
    }

    90% {
        transform: translateY(0);
    }
}

@keyframes nudgeText {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(2px);
    }

    30% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2px);
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(2px);
    }

    90% {
        transform: translateY(0);
    }
}

@keyframes colorText {
    21% {
        color: #4e5559;
    }

    30% {
        color: #fff;
    }

    51% {
        color: #4e5559;
    }

    60% {
        color: #fff;
    }

    81% {
        color: #4e5559;
    }

    90% {
        color: #fff;
    }
} */

.experience h5 {
	font-weight: 600;
}

.img-shadow-success {
	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
	/* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
	box-shadow: rgba(76, 175, 80, 0.4) 5px 5px, rgba(76, 175, 80, 0.3) 10px 10px, rgba(76, 175, 80, 0.2) 15px 15px,
		rgba(76, 175, 80, 0.1) 20px 20px, rgba(276, 175, 80, 0.05) 25px 25px;
}

.img-shadow-primary {
	box-shadow: rgba(0, 123, 255, 0.4) 5px 5px, rgba(0, 123, 255, 0.3) 10px 10px, rgba(0, 123, 255, 0.2) 15px 15px,
		rgba(0, 123, 255, 0.1) 20px 20px, rgba(0, 123, 255, 0.05) 25px 25px;
}

.img-shadow-warning {
	box-shadow: rgba(247, 186, 51, 0.4) 5px 5px, rgba(247, 186, 51, 0.3) 10px 10px, rgba(247, 186, 51, 0.2) 15px 15px,
		rgba(247, 186, 51, 0.1) 20px 20px, rgba(247, 186, 51, 0.05) 25px 25px;
}

.img-shadow-danger {
	box-shadow: rgba(220, 53, 69, 0.4) 5px 5px, rgba(220, 53, 69, 0.3) 10px 10px, rgba(220, 53, 69, 0.2) 15px 15px,
		rgba(220, 53, 69, 0.1) 20px 20px, rgba(220, 53, 69, 0.05) 25px 25px;
}

.img-shadow-dark {
	box-shadow: rgba(52, 58, 64, 0.4) 5px 5px, rgba(52, 58, 64, 0.3) 10px 10px, rgba(52, 58, 64, 0.2) 15px 15px,
		rgba(52, 58, 64, 0.1) 20px 20px, rgba(52, 58, 64, 0.05) 25px 25px;
}

.projects {
	background-color: #fbfbfb;
	padding-top: 10%;
	padding-bottom: 10%;
}

.projects img {
	border-radius: 10px;
}

.projects h6 {
	font-weight: 400;
	font-size: 0.8rem;
}

.projects h3 {
	font-weight: 400;
}

.projects h1 {
	line-height: 55px;
	font-weight: 300;
	font-size: 45px;
}

.text-grey {
	color: #757575;
}

.fa-external-link-alt:hover,
.fa-lock:hover {
	color: #000000;
}

.projects video {
	border-radius: 10px;
}

.connect {
	margin-bottom: 14vh;
}

.btn-connect {
	background-color: #fd3a5c;
	color: #fff;
	border-radius: 100px;
	padding-top: 8px;
	height: 4rem;
	width: 15rem;
	font-weight: 500;
	font-size: 1.5rem;
	margin: auto;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-connect:hover {
	font-weight: 700 !important;
	color: #ffffff !important;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	border: none;
}

footer {
	/* background-color: #222; */
	padding-top: 4rem;
	padding-bottom: 4rem;
	/* margin-top: 5rem; */
	font-weight: 300;
}

.footer-link:hover {
	font-weight: 400;
}

footer .text-footer {
	box-shadow: rgba(0, 158, 253, 0.25) 0 20px 80px, rgba(42, 245, 152, 0.1) 0 20px 40px;
	background-image: linear-gradient(135deg, rgba(42, 245, 152, 1), rgba(0, 158, 253, 1) 100%, rgba(42, 245, 152, 1));
}

.sci {
	position: fixed;
	top: 40%;
	right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sci li {
	list-style: none;
}

.sci li a {
	display: inline-block;
	margin: 15px 0;
	transform: scale(2);
}

.scrollToTop {
	position: fixed;
	bottom: 40px;
	right: 20px;
	width: 40px;
	height: 40px;
	text-align: center;
	/* background: #58677c; */
	color: #fff;
	border-radius: 50%;
	visibility: visible;
	/* background-color: rgb(0, 0, 0, 0.5); */
}

/* .scrollToTop:hover {
	background-color: rgb(0, 0, 0, 0.8);
	font-weight: 700 !important;
} */

.scrollToTop i:hover {
	color: #fff;
}

.scrollToTop i {
	padding: 10px !important;
}

.icon {
	font-size: 24px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.footer-box {
	background-color: #333;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 47px;
	border-radius: 5px;
}

.line {
	border-bottom: 1px solid #ddd;
}

.other-projects {
	padding-top: 10%;
	padding-bottom: 10%;
	padding-bottom: 6rem;
	/* background-color: #c4ac8c; */
	/* background-image: linear-gradient(114.9deg, rgba(34, 34, 34, 1) 8.3%, rgba(0, 40, 60, 1) 41.6%, rgba(0, 143, 213, 1) 93.4%); */
}

.other-projects-box {
	/* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
	/* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
	height: 27rem;
	width: 22rem;
	border-radius: 20px;
	/* padding: 1rem;
	margin-top: 1rem; */
	background-color: #ffffff;
	transition: box-shadow .25s linear;
}

.other-projects-img {
	border-radius: 20px;
	height: 219px;
}

.other-projects-box h6 {
	/* color: #4a90e2; */
	font-weight: 500;
	font-size: 1.2rem;
}

.other-projects h1 {
	font-weight: 300 !important;
	color: black !important;
}

.other-projects-box:hover > .other-projects-img {
	border-radius: 20px 20px 0 0 !important;
}

.other-projects-box:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	/* transition: box-shadow 0.3s ease-in-out; */
}

.other-projects-box p {
	font-size: 12px;
}

.other-projects-title {
	padding-top: 0.5rem !important;
	font-weight: 600;
}

.other-projects img {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.other-projects video {
	height: 13.7rem;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	/* box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; */
}

.badge-secondary {
	background-color: rgba(0, 0, 0, 0.05);
	line-height: 22px;
	padding: 5px 10px !important;
	margin: 0 2px;
	border-radius: 3px !important;
	color: rgba(0, 0, 0, 0.54);
	font-weight: 400;
}

/** GALAXY S5 **/
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
	.underline {
		display: none;
	}

	.navbar-nav {
		text-align: center !important;
	}

	.nav-item {
		padding-left: unset;
	}

	.introduction-message .display-4 {
		font-size: 1.4rem !important;
	}

	.introduction {
		padding-bottom: 4rem;
	}

	.introduction-message .btn-warning,
	.btn-dark {
		width: 8rem !important;
	}

	.introduction-message .col-md-7 {
		padding-left: 2rem;
	}

	.introduction-message img {
		display: none;
	}

	.introduction-message {
		padding-bottom: 5rem;
	}

	.experience {
		padding-top: 7rem;
	}

	.experience h1 {
		font-size: 1.3rem;
		text-align: center !important;
	}

	.experience img {
		display: none;
	}

	.full-height {
		height: unset;
		min-height: unset;
	}

	.projects {
		margin-top: 9rem;
	}

	.projects h1 {
		font-size: 1.3rem;
		text-align: center;
	}

	.projects .col-md-6 h6 {
		margin-top: 3rem;
	}

	.projects .col-md-6 {
		padding-left: 1rem !important;
	}

	.projects .col-md-6 h3 {
		font-size: 1.3rem;
	}

	.other-projects h1 {
		font-size: 1.3rem !important;
	}

	.other-projects-box {
		margin-left: 0.45rem;
		width: 20rem;
		height: 30rem;
	}

	.connect .display-4 {
		font-size: 2rem !important;
	}

	footer {
		text-align: center !important;
	}
}

/** PIXEL 2 **/
@media only screen and (min-device-width: 411px) and (max-device-width: 731px) {
	.underline {
		display: none;
	}

	.navbar-nav {
		text-align: center !important;
	}

	.introduction {
		padding-bottom: 10rem;
	}

	.nav-item {
		padding-left: unset;
	}

	.introduction-message .display-4 {
		font-size: 1.6rem !important;
	}

	.introduction-message .col-md-7 {
		padding-left: 2.5rem;
	}

	.introduction-message img {
		display: none;
	}

	.experience h1 {
		font-size: 1.5rem;
		text-align: center;
	}

	.experience {
		margin-top: 1rem !important;
	}

	.experience img {
		display: none;
	}

	.full-height {
		height: unset;
		min-height: unset;
	}

	.projects {
		margin-top: 9rem;
	}

	.projects h2 {
		font-size: 1.5rem;
		text-align: center;
	}

	.projects .col-md-6 h6 {
		margin-top: 3rem;
	}

	.projects .col-md-6 {
		padding-left: 1rem !important;
	}

	.projects .col-md-6 h3 {
		font-size: 1.3rem;
	}

	.other-projects h2 {
		font-size: 1.5rem;
	}

	.other-projects-box {
		margin-left: 0.8rem;
	}
}

/** PIXEL 2 XL **/
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) {
	.underline {
		display: none;
	}

	.introduction {
		padding-bottom: 13.5rem;
	}

	.other-projects-box {
		margin-left: unset;
		width: unset;
		height: unset;
	}

	.experience {
		margin-top: 13rem;
	}
}

/** IPHONE X **/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
	.underline {
		display: none;
	}

	.other-projects-box {
		margin-left: unset;
		width: unset;
		height: unset;
	}

	.experience {
		margin-top: unset;
	}
}
